body {
  background-color: rgb(5, 5, 92);
}

h1 {
  color: white;
  text-align: center;
  font-family: Open Sans;
}

p {
  font-family: Open Sans;
  text-align: center;
  color: white;
  font-size: 20px;
}

a {
  color: white;
  font-family: Open Sans;
  font-size: 16px;
}

h2 {
  color: white;
  text-align: center;
  font-family: Open Sans;
}

ul {
  text-align: center;
  list-style-position: inside;
}